{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<span class="menu_closer"><a href="#"><i class="fas fa-times fa-2x" title="Close menu"></i><span class="sr-only">Close menu</span></a></span>
<a id="toggle-icon" class="toggle responsive-menu-toggle-icon" title="Menu" href="#off-canvas">
<span class="icon"></span><span class="label">{{ 'Menu'|t }}</span>
</a>
